exportPattern("^[[:alpha:]]+")
import(rjson)
import(dplyr)
import(tibble)
import(RColorBrewer)
import(ggplot2)
import(Cairo)
import(plyr)
import(purrr)
import(readr)
import(stringr)
import(tidyr)
importFrom("grDevices", "adjustcolor", "cairo_pdf", "dev.off", "png")
importFrom("graphics", "axis", "legend", "lines", "par", "points", "polygon")
importFrom("stats", "na.omit", "sd")
export(loadTraces)
export(loadAllTracesMidPoint)
export(makeTracesPolar)
export(plotTraces)
export(differencePlot)
export(pairwise_comparison)